/* This file based on 'Tranquille' by Dave Shea */

html {
	margin: 0;
	padding: 0;
}
body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	background: #fff url("resources/floral.jpg"); 
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: 20px; 
	padding: 0;
}
p { 
	margin-top: 0; 
	text-align: justify;
}
h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #7D775C;
}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #8340CF;
}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #9F69DB;
}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
}

img{
	max-width:20%;
	height: auto;
}